<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoVer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <AutoVer.My.MySettings>

    </AutoVer.My.MySettings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup><system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_IConfigEngine">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IConfigEngine" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:9072/AutoVer/mex" binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IConfigEngine" contract="ConfigService.IConfigEngine" name="MetadataExchangeHttpBinding_IConfigEngine" />
      <endpoint address="http://127.0.0.1:9072/AutoVer/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConfigEngine" contract="ConfigService.IConfigEngine" name="WSHttpBinding_IConfigEngine">
        <identity>
          <servicePrincipalName value="host/HUNTER-XPS15" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
